{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="card bg-primary text-white">
            <div class="card-body">
    
                <div>Добро пожаловать!</div>

            </div>
        </div>
    </div>
{% endblock %}